@font-face {
    font-family: Sahel;
    src: url('Sahel-SemiBold-FD.eot');
    src: url('Sahel-SemiBold-FD.eot?#iefix') format('embedded-opentype'), url('Sahel-SemiBold-FD.woff2') format('woff2'), url('Sahel-SemiBold-FD.woff') format('woff'), url('Sahel-SemiBold-FD.ttf') format('truetype');
    font-weight: 600;
}
