<!doctype html>
<!--
COPYRIGHT by HighHay/Mivfx
Before using this theme, you should accept themeforest licenses terms.
http://themeforest.net/licenses
-->
<html lang="en">

<!-- Mirrored from demo.highhay.com/creation/index-slideshow.html by HTTrack Website Copier/3.x [XR&CO'2010], Thu, 26 Sep 2019 13:35:41 GMT -->
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <!-- Page Title Here -->
    <title>Creation - Creative Coming Soon responsive template</title>
    <!-- Page Description Here -->
    <meta name="description" content="A responsive coming soon template, un template HTML pour une page en cours de construction">
    <!-- Disable screen scaling-->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, user-scalable=0">
    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
    <!-- Initializer -->
    <style>
        @@font-face {
            font-family: Sahel;
            src: url('http://fonts.codearena.ir/rastikerdar/sahel/sahel.eot');
            src: url('http://fonts.codearena.ir/rastikerdar/sahel/sahel.eot?#iefix') format('embedded-opentype'), url('http://fonts.codearena.ir/rastikerdar/sahel/sahel.woff') format('woff'), url('http://fonts.codearena.ir/rastikerdar/sahel/sahel.ttf') format('truetype');
            font-weight: normal;
        }
    </style>
    <link href="~/Content/firstPage/css/normalize.css" rel="stylesheet" />
    <!-- Web fonts and Web Icons -->
    <link href="~/Content/firstPage/fonts/glacial/stylesheet.css" rel="stylesheet" />
    <link href="~/Content/firstPage/fonts/linearicons/stylesheet.css" rel="stylesheet" />
    <link href="~/Content/firstPage/fonts/opensans/stylesheet.css" rel="stylesheet" />
    <link href="~/Content/firstPage/fonts/ionicons.min.css" rel="stylesheet" />
    <!-- Vendor CSS style -->
    <link href="~/Content/firstPage/css/pageloader.css" rel="stylesheet" />
    <link href="~/Content/firstPage/css/foundation.min.css" rel="stylesheet" />
    <link href="~/Content/firstPage/js/vendor/jquery.fullPage.css" rel="stylesheet" />
    <link href="~/Content/firstPage/js/vegas/vegas.min.css" rel="stylesheet" />
    <link href="~/Content/firstPage/js/owl-carousel/owl.carousel.css" rel="stylesheet" />
    <!-- Main CSS files -->
    <link href="~/Content/firstPage/css/main.css" rel="stylesheet" />
    <!-- alt layout -->
    <link href="~/Content/firstPage/css/style-color2.css" rel="stylesheet" />
    <!-- responsiveness -->
    <link href="~/Content/firstPage/css/main_responsive.css" rel="stylesheet" />
    <script src="~/Content/firstPage/js/vendor/modernizr-2.7.1.min.js"></script>

</head>
<body id="menu" class="alt-bg">
    <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- Page Loader -->
    <div class="page-loader" id="page-loader">
        <div>
            <i class="ion ion-load-c ion-spin"></i>
            <p>Loading</p>
        </div>
    </div>
    <!-- BEGIN OF site header Menu -->
    <header class="header-top">
        <div class="logo-wrapper">
            <h2 class="logo">
                <span class="title">مدرسه ضحی</span>
                <img src="~/Content/firstPage/img/logo.png" alt="Logo">

            </h2>
        </div>
        <a class="menu-icon clearfix">
            <div class="bars">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
            <!--			<div class="txt">Menu</div>-->
        </a>
        <!-- Begin of Site primary navigation -->
        <nav class="site-nav" id="site-nav">
            <ul class="menu clearfix qmenu">
                <!--<li class="active" data-menuanchor="home">
                    <a href="#home">Home</a>
                </li>
                <li data-menuanchor="about-us">
                    <a href="#about-us">About</a>

                        <a href="#write-message">Write to us</a>
                    </li>-->
            </ul>
        </nav>
        <!-- End of Site primary navigation -->
    </header>
    <!-- END OF site header Menu-->
    <!-- BEGIN OF sidebar page navigation -->
    <nav class="page-nav">
        <ul id="qmenu" class="qmenu">
            <li data-menuanchor="home">
                <a href="#home">
                    <i class="icon lnr lnr-home"></i>
                    <span>خانه</span>
                </a>
            </li>
            <li data-menuanchor="about-us">
                <a href="#about-us">
                    <i class="icon lnr lnr-flag"></i>
                    <span class="title">درباره ما</span>
                </a>
            </li>
            <li data-menuanchor="contact">
                <a href="#contact">
                    <i class="icon lnr lnr-phone"></i>
                    <span class="title">تماس یا ما</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- END OF sidebar page navigation -->
    <!-- BEGIN OF site cover -->
    <div class="page-cover">
        <!-- Cover Background -->
        <img src="~/Content/firstPage/img/bg-default.jpg" class="cover-bg pos-abs full-size bg-img" />

        <div class="cover-bg-mask pos-abs full-size bg-color" data-bgcolor="rgba(0, 0, 0, 0.5)"></div>
        <!-- <div class="cover-bg-mask pos-abs full-size bg-color" data-bgcolor="rgba(45, 46, 51, 0.8)"></div> -->
    </div>
    <!--END OF site Cover -->
    <!-- BEGIN OF site main content content here -->
    <main class="page-main page-home fullpg" id="mainpage">

        <!-- Begin of home section -->
        <div class="section section-home" data-section="home">
            <!-- Content -->
            <section class="content with-clock">
                <!-- left elements -->
                <div class="c-left">
                    <div class="">
                        <div class="c-logo home-logo ">
                            <!--							<img class="" src="img/logo.png" alt="Logo">-->
                            <!--							<i class="icon lnr lnr-clock anim-zoomin"></i>-->
                        </div>
                    </div>
                    <div class="c-clock clock clock-countdown">
                        <div class="site-config"
                             data-date="01/01/2020 02:00:00"
                             data-date-timezone="+0"></div>
                        <div class="img-top">
                            <div class="tile-hours anim-zoomin anim-1">
                                <span id="time1" class=""></span>
                                <span class="txt">ساعت</span>
                            </div>
                        </div>
                        <div class="img-middle bg-img">
                            <div style="margin-top:40%">لذت آموزش را با ما تجربه کنید</div>
                            <div class="tile-minutes anim-zoomin anim-2">
                                <span id="time2" class=""></span>
                                <span class="txt">دقیقه</span>
                            </div>
                            <div class="tile-seconds anim-zoomin anim-3">
                                <span id="time3" class=""></span>
                                <span class="txt">ثانیه</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- right elements -->
                <div class="c-right">
                    <div class="anim-slideright">
                        <header class="header">
                            <h2>مدرسه هوشمند ضحی</h2>
                            <h3>استفاده شده از اپلیکیشن سهاد</h3>
                        </header>
                        <div class="desc">

                            <a href="http://sahadapp.ir/app/sahad.apk" /><p>دانلود اپلیکیشن سهاد</p></a>

                        </div>
                        <div class="btns">
                            <a class="btn" href="#about-us">درباره ما</a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Arrows scroll down/up -->
            <footer class="s-footer p-scrolldown">
                <a class="down btn" href="#about-us">
                    <span>مدرسه ما</span>
                </a>
            </footer>
        </div>
        <!-- End of home section -->
        <!-- Begin of about us section -->
        <div class="section  section-about section-cent" data-section="about-us">
            <section class="content">
                <!-- left elements -->
                <div class="c-left">
                    <div class="">
                        <div class="c-logo home-logo ">
                            <i class="icon lnr lnr-sun anim-rotate"></i>
                        </div>

                    </div>
                </div>
                <!-- right elements -->
                <div class="c-right">
                    <div class="anim-slideright">
                        <header class="header">
                            <h2>درباره ما</h2>
                            <h3>هر آنچه که درباره ما باید بدانید</h3>
                        </header>
                        <article class="desc">
                            <p>Lorem ipsum <strong>magicum </strong>dolor sit amet, consectetur adipiscing elit. Maecenas a sem ultrices neque vehicula fermentum a sit amet nulla.</p>
                            <p>Aenean ultricies odio at erat facilisis tincidunt. Fusce tempor auctor justo, nec facilisis quam vehicula vel. Aenean non mattis purus, eget lobortis odio. </p>
                        </article>
                        <!--<div class="btns">
                            <a class="btn" href="#register">Regiter</a>
                        </div>-->
                    </div>
                </div>
            </section>
            <!-- Arrows scroll down/up -->
            <footer class="s-footer p-scrolldown">
                <a class="down btn" href="#register">
                    <span>درباره ما</span>
                </a>
            </footer>
        </div>
        <!-- End of about us section -->
        <!-- Begin of register section -->
        <!-- End of register section -->
        <!-- Begin of Contact section   -->
        <div class="section section-contact section-cent" data-section="contact">
            <section class="content">
                <!-- left elements -->
                <div class="c-left">
                    <div class="">
                        <div class="c-logo home-logo ">
                            <i class="icon lnr lnr-phone anim-zoomin"></i>
                        </div>

                    </div>
                </div>
                <!-- right elements -->
                <div class="c-right c-contact">
                    <div class="anim-slideright">
                        <header class="header">
                            <h2><strong>تماس با ما</strong></h2>
                            <h3><span>با ما در ارتباط باشید</span></h3>
                        </header>
                        <article class="desc">
                            <ul>
                                <li>
                                    <div class="data">تبریز-بلوار 29 بهمن-دانشگاه تبریز-مرکز رشد و نوآوری-طبقه اول</div>
                                    <div class="title">
                                        <i class="icon lnr lnr-map"></i>
                                        <span class="readable">Address</span>
                                    </div>

                                </li>

                                <li>
                                    <div class="data">+0 1 23 4567 89</div>
                                    <div class="title">
                                        <i class="icon lnr lnr-phone-handset"></i>
                                        <span class="readable">Email</span>
                                    </div>
                                    <div class="data">+0 1 23 4567 89</div>
                                </li>
                            </ul>
                        </article>
                    </div>
                </div>
            </section>
            <!-- Arrows scroll down/up -->
            <footer class="s-footer p-scrolldown">
                <a class="down btn" href="#write-message">
                    <span>با ما در تماس باشید</span>
                </a>
            </footer>
        </div>
    </main>
    <!-- END OF site main content content here -->
    <script>
        (function () {
            function checkTime(i) {
                return (i < 10) ? "0" + i : i;
            }

            function startTime() {
                var today = new Date(),
                    h = checkTime(today.getHours()),
                    m = checkTime(today.getMinutes()),
                    s = checkTime(today.getSeconds());
                document.getElementById('time1').innerHTML = h;
                t = setTimeout(function () {
                    startTime()
                }, 500);
            }
            startTime();
        })();
    </script>
    <script>
        (function () {
            function checkTime(i) {
                return (i < 10) ? "0" + i : i;
            }

            function startTime() {
                var today = new Date(),
                    h = checkTime(today.getHours()),
                    m = checkTime(today.getMinutes()),
                    s = checkTime(today.getSeconds());
                document.getElementById('time2').innerHTML = m;
                t = setTimeout(function () {
                    startTime()
                }, 500);
            }
            startTime();
        })();
    </script>
    <script>
        (function () {
            function checkTime(i) {
                return (i < 10) ? "0" + i : i;
            }

            function startTime() {
                var today = new Date(),
                    h = checkTime(today.getHours()),
                    m = checkTime(today.getMinutes()),
                    s = checkTime(today.getSeconds());
                document.getElementById('time3').innerHTML = s;
                t = setTimeout(function () {
                    startTime()
                }, 500);
            }
            startTime();
        })();
    </script>
    <!-- BEGIN OF site footer -->
    <footer class="site-footer">
        <div class="note">
            <p>&copy; Copyright <a href="http://punas.ir/"><span class="marked">پوناس</span></a> 2019</p>
        </div>
    </footer>

    <script src="~/Content/firstPage/js/vendor/jquery-1.11.2.min.js"></script>
    <!-- All vendor scripts -->
    <script src="~/Content/firstPage/js/vendor/all.js"></script>
    <script src="~/Content/firstPage/js/particlejs/particles.min.js"></script>
    <script src="~/Content/firstPage/js/jquery.downCount.js"></script>

    <!-- Form script -->
    <script src="~/Content/firstPage/js/form_script.js"></script>
    <!-- Javascript main files -->
    <script src="~/Content/firstPage/js/main.js"></script>


</body>

</html>